[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

# update-versions-file = test_plone60.cfg
auto-checkout =
    redturtle.prenotazioni

[versions]
createcoverage = 1.5
watchdog = 2.1.6
plone.restapi = >=9.6.0
docutils=0.21.2
zope-component = 6.0
collective.z3cform.datagridfield = 3.0.4
z3c.jbot = 2.2
z3c.unconfigure = 2.0
zope.index = 5.2.1

